<P> 
{{ splash_message }}
</P>

<hr><br>
<p>Instance type:<br/>
  <input type="radio" name="instance" id="instance-gpu" value="cpu" checked>
  <label for="instance-cpu" style="width: 90%; text-weight: normal;">Multi-CPUs [Morning sessions and Quantum ML]: 4 core; 16 GB RAM</label>
  <br/>
  <input type="radio" name="instance" id="instance-gpu" value="gpu">
  <label for="instance-gpu" style="width: 90%; text-weight: normal;">GPU-acceleration [PINN and Graph Transformers]; 4 core; 16 GB RAM; nVidia GPU </label>
        
<p>GPU availability:
  {% for acc in accelerators %}
  <br/>
      {{ acc.desc }} 
      {% if acc.avail > 1 or acc.avail == acc.tot %}
      <font style="padding-left: 10pt; color: #0a0; font-size: smaller; font-weight: normal; font-style: italic;">{{ acc.avail }}/{{ acc.tot }} available</font>
      {% elif acc.avail > 0 %}
      <font style="padding-left: 10pt; color: #ea0; font-size: smaller; font-weight: normal; font-style: italic;">{{ acc.avail }}/{{ acc.tot }} available</font>
      {% else %}
      <font style="padding-left: 10pt; color: #a00; font-size: smaller; font-weight: normal; font-style: italic;">{{ acc.avail }}/{{ acc.tot }} available</font>
      {% endif %}
  {% endfor %}
</p>

